<%- include("header") -%>

<h3>Hello, I'm Muhammad Moaz Ahmed. This is just a sample about page.</h3>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores eligendi
  mollitia dignissimos cumque quae itaque labore nulla ratione, minima soluta,
  fuga ipsum eum impedit id, debitis numquam praesentium facilis modi.
</p>

<%- include("footer") -%>
